### yarn v2 ###
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

### Node Patch ###
# Serverless Webpack directories
.webpack/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Local History for Visual Studio Code
.history/
.ionide

# Built Visual Studio Code Extensions
*.vsix

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

### MacOS ###
.DS_Store

### Other ###
build/
dist/
data/en_US/
data/zh_CN/
data/output/
